<div ng-controller="StoreController as store" ng-init="index()">
  <div new-product></div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="product in products">
      <h3 product-title></h3>
      <div edit-product ng-click="changeClass()"></div>
      <button class="pull-right price" ng-show="product.canPurchase"> Add to Cart </button><br><br>
      <button class="pull-right price" ng-click="edit(pjroduct)">Edit product</button><br><br>
      <button class="pull-right price" ng-click="delete(product)">Delete product</button>
      <img ng-src="{{product.images[0].full}}"/>
      <product-panels ng-init="tab = 1"></product-panels>
    </li>
  </ul>
</div>
